.white-popup-block {position: relative;background: #FFF;padding: 20px;width: auto;max-width: 600px;margin: 20px auto;}

#so-form-loader .so-form-loader-inner {padding:30px 60px;text-align:center;font-size:150%;font-weight:normal;color:#0092CC;}
#so-form-success {text-align:center;}
#so-order-success-div {padding:30px 60px;text-align:center;font-size:150%;font-weight:normal;color:#0092CC;}

.errors-div {margin:10px 0 10px;padding:10px 20px;background:red;color:#fff;}
.errors-div a {color:#fff;font-weight:bold;}


.so-price {font-size:1.2em;color:#1f2327;line-height:18px;font-weight:bold;}
.so-price .productOldPrice {margin-bottom:5px!important;font-size:1em!important;text-decoration:line-through!important;color:#999!important;font-weight: normal!important;}
.so-price .productOldPrice .pprices {font-size:1em!important;text-decoration:line-through!important;color:#999!important;font-weight: normal!important;}


#new_order {margin-top:10px;}
#new_order {}

#new_order tbody:last-child {
    border-bottom: none
}

.new_order table {
    width: 100%;
    margin-bottom: 0;
	border-collapse: collapse;border-spacing: 0;
}




.new_order table td {
    padding: 5px 10px;
    vertical-align: middle;
    border: none;
}

.new_order table td [type="submit"] {
    font-size: 16px;
}

.simple_order_submit {   cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    border: 1px solid #8DC8E7;
    background: #8DC8E7;
    color: #ffffff;
	width:80%;
}


.new_order table td [type="text"],
.new_order table td [type="tel"],
.new_order table td [type="email"],
.new_order table td textarea {
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    moz-box-sizing: border-box;
    outline: none;
    padding: 0.40em 0.8em 0.40em;
    transition: all 0.2s;
    webkit-appearance: none;
    width: 100%;
	border:1px solid rgb(169, 169, 169);
}

.new_order table td label {
    margin-left: 10px;
	cursor:pointer;
}


.new_order table td.price {
    font-size: 1.125em
}

.new_order table td.total {
    font-size: 1.296em;
    text-align: right
}
.new_order table td:nth-child(1) {
    color: #333 !important;
    width: 20%;
}

#new_order table tbody tr.sposob td {
    padding-bottom: 0.65em;
    border-bottom: 2px solid #dadcdb;
    font-weight: bold;
    color: #999 !important;
    padding-top: 1.95em
}

.new_order table tr.payment, .new_order table tr.delivery td {background:#f9f9f9;border-bottom:1px solid #eee;}

.new_order table tr.delivery td:nth-child(2),
.new_order table tr.payment td:nth-child(2) {
    font-weight: bold;
    text-align: right;
    text-transform: lowercase;
    width: 25%;
    vertical-align: top
}
.new_order table td:nth-child(3) {
    font-weight: bold;
    text-align: right;
    text-transform: lowercase;
    width: 25%;
}

.so_pay_info {display:none;margin: 5px 0 0 28px;
    font-size: 11px;
    color: #5e8fc6;
    line-height: 13px;}


.so-prod-image {}
.so-prod-name {font-size: 1.2em;}
.so-prod-price .so-price {
    font-size: 1.2em;
    color: #1f2327;
    line-height: 18px;
    font-weight: bold;
}


.new_order table tr.payment.selected, .new_order table tr.delivery.selected td {background:#e9f2ff;border-bottom:1px solid #eee;}

#p_beznal_price {display:none;}

.new_order table tr.payment.selected .so_pay_info {display:block;}
.new_order table tr.payment.selected #p_beznal_price {display:block;}


.needsfilled {background:#ffeae4!important;border:1px solid #ff3c00!important;}

.so-product {margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #eee;}

.so-red {color:red;}
